<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados de la Simulación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='minimalist-styles.css') }}">
</head>
<body>
    <main>
        <h1>Resultados de la Simulación</h1>
        <table>
            <thead>
                <tr>
                    <th>Distrito</th>
                    {% for j in range(candidatos) %}
                    <th>Candidato {{ j + 1 }}</th>
                    {% endfor %}
                    <th>Total Distrito</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(votos|length) %}
                <tr>
                    <td>{{ i + 1 }}</td>
                    {% for j in range(candidatos) %}
                    <td>{{ votos[i][j] }}</td>
                    {% endfor %}
                    <td>{{ suma_distritos[i] }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td>Total Candidatos</td>
                    {% for j in range(candidatos) %}
                    <td>{{ suma_candidatos[j] }}</td>
                    {% endfor %}
                    <td></td>
                </tr>
            </tbody>
        </table>
        <section class="resultados">
            <h2>El candidato ganador es el Candidato {{ candidato_ganador + 1 }} con {{ max_votos }} votos.</h2>
            <h3>El distrito con más votos es el Distrito {{ distrito_ganador + 1 }} con {{ max_distrito }} votos.</h3>
            <h3>El distrito que más votó por el candidato ganador es el Distrito {{ distrito_max_votos_candidato_ganador + 1 }} con {{ max_votos_candidato_ganador }} votos.</h3>
        </section>
        <a href="{{ url_for('index') }}" class="btn">Volver</a>
    </main>
</body>
</html>

